/* Add CSS Styling */
.odd{
    background-color: #ffb6c1;
    font-family: Verdana, "Dejavu Sans", sans-serif;
}

#even-two{
    color: #0000ff;
    font-size: 36px;
}

.odd.third{
    font-size: 24px;
}

#even-four{
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}